  
apiVersion: v1
kind: Secret
metadata:
  name: {{ template "syseleven-exporter.secret" . }}
  labels:
    {{- include "syseleven-exporter.labels" . | nindent 4 }}  
type: Opaque
stringData:
  OS_USERNAME: {{ .Values.openstack.username }}
  OS_PASSWORD: {{ .Values.openstack.password }}
  OS_PROJECT_ID: {{ .Values.openstack.projectId }}